@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica/HelveticaNeueCyr-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica/HelveticaNeueCyr-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica/HelveticaNeueCyr-Roman.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica/helveticaneuecyr-bold.ttf');
  font-weight: 600;
  font-style: normal;
}


*,
*:after,
*:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #131313;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}


.container {
  width: 100%;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;

}

header {
  color: white;
  //background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  //background: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
}


h1::selection {
  background-color: rgba(72, 49, 212, 0.35);
  color: white;
}

div::selection {
  background-color: rgba(72, 49, 212, 0.35);
  color: white;
}

span::selection {
  background-color: rgba(72, 49, 212, 0.35);
  color: white;
}

img::selection {
  background-color: inherit;
  color: white;
}

h2::selection {
  background-color: rgba(72, 49, 212, 0.35);
  color: white;
}

h3::selection {
  color: #ccf381;
}

.about__text::selection {
  color: #ccf381;
}

p::selection {
  background-color: rgba(72, 49, 212, 0.35);
  color: white;
}

a::selection {
  background-color: rgba(72, 49, 212, 0.35);
  color: white;
}


.header {
  padding-top: 30px;
  position: relative;
  height: 100vh;

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      width: 53px;
      height: 53px;
    }

  }

  &__right {
    margin-left: 25px;

    &-title {
      font-weight: 500;
      font-size: 22px;
    }

    &-subtitle {
      text-transform: uppercase;
      font-size: 12px;
      color: #ccf381;
      letter-spacing: 3px;
      margin-top: 3px;
    }
  }
}

.about {
  position: relative;
  height: 100%;

  &__content {
    position: absolute;
    bottom: 130px;
    width: 100%;
    padding-left: 40px;
  }

  &__img {
    position: absolute;
    right: 50px;
    bottom: -130px;
    width: 600px;
  }

  &__name {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
  }

  &__title {
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    margin: 0.27em 0;
    color: #ccf381;

    span {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
      display: inline-block;
      margin-left: -15px;
    }
  }

  &__text {
    color: white;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    width: 550px;
  }

  &__link {
    margin-top: 20px;
    position: relative;
    top: 40px;

    span {
      padding-left: 20px;
      padding-right: 20px;
    }

    &--item {
      text-decoration: none;
      color: #ccf381;
      font-size: 21px;
      font-weight: 500;
    }
  }

  &__slider {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid white;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    &--content {
      content: "";
      width: 6px;
      height: 9px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%);
      animation-name: about_bounce;
      animation-duration: 1.6s;
      animation-iteration-count: infinite;
    }
  }
}

.work {
  height: 100%;
  background-color: white;

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 70px 50px 70px 50px;
  }

  &__right {
    margin-top: 60px;
    margin-left: 600px;
  }

  &__title {
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.03em;
    color: #4831d4;
  }

  &__desc {
    padding-top: 15px;
    font-weight: 300;
    line-height: 1.6;
    color: #3d155f;
    max-width: 601px;
    font-size: 1.07em;
  }

}

.email {
  position: relative;
  z-index: 2001;

  &__img {
    position: fixed;
    top: 40px;
    right: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
  }
}

.block {
  height: 100vh;
  background-color: #4831d4;
  //background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

  &__items {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--first {
      position: relative;
      color:white !important;
      font-size: 2rem;
      margin-bottom: -50px;
    }

    li {
      list-style: none;
      cursor: pointer;
      font-weight: 600;
      font-size: 3.25rem;
      line-height: 4.5625rem;
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: #ccf381;
      }
    }
  }
}


.block__link:hover {
  transition: .7s;
  transform: scale(1.1);
}

.block__link:not(:hover) {
  transition: .5s;
}


.block__items--first::before {
  content: "";
  width: 40px;
  height: 4px;
  position: absolute;
  background-color: #FFFFFF;
  left: -53px;
  top: 40%; }


#content {
  overflow-x: hidden;
}

#hscroll {
  width: calc(500vw);
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.stage {
  width: calc(100vw);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  padding: 20px;
}

.proxy {
  visibility: hidden;
  opacity: 0;
}

#btnright {
  position: absolute;
  z-index: 9999;
  right: 30px;
  bottom: 15px;
  background: #fcc;
  border: none;
  color: #000;
  font-size: 16px;
  line-height: 1;
  padding: 10px;
  cursor: pointer;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btncontact {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 30px;
  background: #000;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
}

/*== For DEMO Styling Only==*/
body, header, main, footer, div, section {
  box-sizing: border-box;
}


a {
  color: #fff;
}

section {
  text-align: center;
  color: #fff;
  font-size: 2em;
  cursor: pointer;

  img {
    padding-right: 30px;
    width: 180px;
    height: 180px;
  }

  svg {
    padding-right: 30px;
  }
}

.stage:hover {
  h2 {
    margin-left: 50px;
  }
  img {
    transition: 1s;
    transform: scale(1.2);
  }
  svg {
    transition: 1s;
    transform: scale(1.2);
  }
  h2 {
    transition: 1s;
    transform: scale(1.2);
    border-bottom: 3px solid white;
  }
}


.stage:not(:hover) {
  h2 {
    margin-left: 0;
  }
  img {
    transition: .6s;
  }
  svg {
    transition: .6s
  }
  h2 {
    transition: .6s;
    border: none;
  }
}

#stage-1 {
  background: #090979;
  //background: linear-gradient(to right, #090979, #00d4ff);
  background: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
}

#stage-2 {
  background: #090979;
  background: linear-gradient(to right, #e58d45, #ececec);
}

#stage-3 {
  background: #34d59a;
  background: linear-gradient(to right, #34d59a, #ececec);
}

#stage-4 {
  background: #009FFF;

}

#stage-5 {
  background: #ccf381;
  //background: linear-gradient(to right, #4831d4, #ccf381);
  background: linear-gradient(to right, #8A2387, #E94057, #F27121);
}


@keyframes about_bounce {
  0% {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
  }

  50% {
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
  }

  100% {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 991px) {
  body {
    padding-left: 0 !important;
  }
  #hscroll {
    width: 100vw;
    height: auto;
    flex-direction: column;
  }
  .stage {
    width: 100vw;
    height: auto;
    min-height: 100vh;
  }
  #masthead {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    overflow: hidden;
    display: none;
  }
  .logo {
    width: 106px;
    margin: 0 auto;
    transform: rotate(0deg);
    left: 0;
    top: 0;
  }
}


