@font-face {
  font-family: 'Helvetica';
  src: url("./fonts/Helvetica/HelveticaNeueCyr-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("./fonts/Helvetica/HelveticaNeueCyr-Medium.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("./fonts/Helvetica/HelveticaNeueCyr-Roman.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("./fonts/Helvetica/helveticaneuecyr-bold.ttf");
  font-weight: 600;
  font-style: normal; }
*,
*:after,
*:before {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  color: #131313;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto; }

h1::selection {
  background-color: #888A8E;
  color: white; }

div::selection {
  background-color: #888A8E;
  color: white; }

span::selection {
  background-color: #888A8E;
  color: white; }

img::selection {
  background-color: #888A8E;
  color: white; }

h2::selection {
  background-color: #888A8E;
  color: white; }

p::selection {
  background-color: #888A8E;
  color: white; }

a::selection {
  background-color: #888A8E;
  color: white; }

.header {
  padding-top: 30px;
  position: relative;
  height: 100vh; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo-icon {
      width: 1.6em;
      height: 1.6em;
      border-radius: 50%;
      border: 3px solid black;
      position: relative;
      font-size: 33px;
      float: left; }
      .header__logo-icon span {
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%); }
  .header__right {
    margin-left: 25px; }
    .header__right-title {
      font-weight: 500;
      font-size: 22px; }
    .header__right-subtitle {
      text-transform: uppercase;
      font-size: 12px;
      color: rgba(128, 128, 128, 0.9);
      letter-spacing: 3px;
      margin-top: 3px; }

.about {
  position: relative;
  height: 100%; }
  .about__content {
    position: absolute;
    bottom: 90px; }
  .about__img {
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 420px; }
  .about__name {
    color: rgba(128, 128, 128, 0.7);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px; }
  .about__title {
    font-weight: 600;
    font-size: 80px;
    margin: 0.27em 0; }
  .about__text {
    color: rgba(128, 128, 128, 0.9);
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    width: 60%; }
  .about__link {
    margin-top: 20px; }
    .about__link span {
      padding-left: 20px;
      padding-right: 20px; }
    .about__link--item {
      text-decoration: none;
      color: black;
      font-size: 21px;
      font-weight: 500; }
  .about__slider {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid black;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); }
    .about__slider--content {
      content: "";
      width: 6px;
      height: 9px;
      border-radius: 50%;
      background-color: black;
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%);
      animation-name: about_bounce;
      animation-duration: 1.6s;
      animation-iteration-count: infinite; }

.work {
  height: 100vh; }
  .work__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap; }
  .work__item {
    margin-bottom: 20px;
    position: relative;
    display: block;
    width: 47%;
    cursor: pointer; }
  .work__item:hover .work__wrapper {
    opacity: 1;
    transition: all .4s; }
  .work__item:hover .work--img {
    filter: brightness(30%);
    transition: all .2s; }
  .work__item:not(:hover) .work--img {
    transition: .4s; }
  .work__item:not(:hover) .work__wrapper {
    transition: .4s; }
  .work__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 60%;
    text-align: center; }
  .work--img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .work__title {
    font-size: 30px;
    color: white;
    text-transform: uppercase; }
  .work__text {
    font-size: 18px;
    color: white;
    margin-top: 15px; }
    .work__text span {
      padding-top: 10px;
      display: block; }
  .work--title {
    font-size: 42px;
    position: relative;
    top: 40px;
    font-weight: 500; }

.header__logo--big {
  position: absolute;
  opacity: .4;
  top: 140px;
  font-style: italic;
  color: white;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 235px;
  text-align: center;
  width: 100%;
  letter-spacing: 1px; }

.email {
  position: relative;
  z-index: 2001; }
  .email__img {
    position: fixed;
    top: 40px;
    right: 50px;
    width: 35px;
    height: 35px;
    cursor: pointer; }
    .email__img:hover {
      transition: all .7s;
      transform: scale(1.1); }
    .email__img:not(:hover) {
      transition: all .7s; }

.block__items {
  margin: 0 auto;
  text-align: center; }
  .block__items li {
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    color: #878a8f;
    font-size: 3.25rem;
    line-height: 4.5625rem; }
    .block__items li :hover {
      transition: .4s;
      color: white; }
    .block__items li a {
      text-decoration: none;
      color: #878a8f; }
  .block__items--first {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    color: white !important; }

.block__items--first::before {
  content: "";
  width: 70px;
  height: 7px;
  position: absolute;
  background-color: #FFFFFF;
  left: -93px;
  top: 40%; }

@keyframes about_bounce {
  0% {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%); }
  50% {
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%); }
  100% {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%); } }
#content {
  overflow-x: hidden; }

#hscroll {
  width: calc(500vw);
  height: 100vh;
  display: flex;
  flex-direction: row; }

.stage {
  width: calc(100vw);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  padding: 20px; }

.proxy {
  visibility: hidden;
  opacity: 0; }

#btnright {
  position: absolute;
  z-index: 9999;
  right: 30px;
  bottom: 15px;
  background: #fcc;
  border: none;
  color: #000;
  font-size: 16px;
  line-height: 1;
  padding: 10px;
  cursor: pointer;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center; }

#btncontact {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 30px;
  background: #000;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer; }

/*== For DEMO Styling Only==*/
body, header, main, footer, div, section {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0; }

a {
  color: #fff; }

section {
  text-align: center;
  color: #fff;
  font-size: 2em; }

#stage-1 {
  background: #dd3e54;
  background: linear-gradient(to right, #6be585, #dd3e54); }

#stage-2 {
  background: #090979;
  background: linear-gradient(to right, #090979, #00d4ff); }

#stage-3 {
  background: #833ab4;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); }

#stage-4 {
  background: #009FFF;
  background: linear-gradient(to right, #009FFF, #ec2F4B); }

#stage-5 {
  background: black; }

@media only screen and (max-width: 991px) {
  body {
    padding-left: 0 !important; }

  #hscroll {
    width: 100vw;
    height: auto;
    flex-direction: column; }

  .stage {
    width: 100vw;
    height: auto;
    min-height: 100vh; }

  #masthead {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    overflow: hidden;
    display: none; }

  .logo {
    width: 106px;
    margin: 0 auto;
    transform: rotate(0deg);
    left: 0;
    top: 0; } }

/*# sourceMappingURL=style.css.map */
